@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: all;
  transition-duration: 150ms;
}

:root {
  font-family: Open Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Good Times";
  src: url("./assets/fonts/goodtimesrg.otf") format("opentype");
}

.stars-dark {
  background: url("./assets/star-background.png") repeat, linear-gradient(to right, rgb(10, 10, 10), rgb(5, 5, 5), rgb(3, 1, 7));
}

.stars-light {
  background: url("./assets/star-background.png") repeat, linear-gradient(to right, rgb(184, 186, 245), #dce3fa, rgb(129, 182, 235));
}

@layer utilities {
  .loading-component {
    @apply cursor-wait select-none rounded-2xl bg-gray-100 shadow-none hover:scale-100 dark:bg-slate-800 !important;
  }
  .loading-line {
    @apply animate-pulse select-none rounded-lg bg-blue-400 fill-current stroke-current text-blue-400 hover:scale-100 dark:bg-slate-600 dark:text-slate-600 !important;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-blue-800 to-blue-950 bg-clip-text text-transparent dark:from-yellow-200 dark:to-moon-gold;
  }

  .link {
    @apply whitespace-pre-wrap text-yellow-600 underline hover:text-yellow-500 dark:text-moon-gold dark:hover:text-amber-300;
  }

  .blur-background {
    @apply absolute inset-0 bg-gradient-to-br from-blue-600 to-blue-400 blur dark:from-moon-gold dark:to-amber-400;
  }

  .component-background {
    @apply relative bg-gradient-to-br from-white via-gray-50 to-zinc-50 dark:from-black dark:via-slate-950 dark:to-gray-950;
  }

  .fancy-btn {
    @apply absolute flex w-[15vw] items-center justify-center rounded-full bg-[skyblue] dark:bg-[orange] lg:h-[2vw] lg:w-[5vw];
  }
}

.rows {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
