@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: all;
  transition-duration: 200ms;
}

:root {
  font-family: Open Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.stars-dark {
  background: url("./assets/star-background.png") repeat, linear-gradient(to right,rgb(25, 0, 29),rgb(12, 0, 20),rgb(25, 0, 29));
}

.stars-light {
  background: url("./assets/star-background.png") repeat, linear-gradient(to right, rgb(184, 186, 235), #ade7c5, rgb(141, 177, 212));
}

@layer utilities {
  .loading-container {
    @apply select-none bg-slate-400 dark:bg-slate-700 !important;
  }
  .loading-component {
    @apply select-none rounded-none border-none bg-slate-500 shadow-none hover:scale-100 dark:bg-slate-800 !important;
  }
  .loading-line {
    @apply animate-pulse select-none bg-gray-600 text-gray-600 !important;
  }
}
